In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kiama,AU,2022-02-08 20:43:39,-34.6833,150.8667,64.26,90,1,4.07
1,1,Vestmannaeyjar,IS,2022-02-08 20:43:40,63.4427,-20.2734,35.10,80,100,15.66
2,2,Rikitea,PF,2022-02-08 20:43:40,-23.1203,-134.9692,78.78,72,69,11.36
3,3,Mataura,NZ,2022-02-08 20:43:40,-46.1927,168.8643,56.48,87,100,3.96
4,4,Geraldton,AU,2022-02-08 20:43:41,-28.7667,114.6000,63.01,82,0,11.50

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [8]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

In [10]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [14]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                      (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Rikitea,PF,2022-02-08 20:43:40,-23.1203,-134.9692,78.78,72,69,11.36
6,6,Kapaa,US,2022-02-08 20:43:41,22.0752,-159.3190,78.12,66,0,12.66
9,9,Mahebourg,MU,2022-02-08 20:43:42,-20.4081,57.7000,75.49,88,40,3.44
20,20,Vaini,TO,2022-02-08 20:43:46,-21.2000,-175.2000,78.96,94,40,9.22
21,21,Bull Savanna,JM,2022-02-08 20:43:47,17.8868,-77.5902,78.48,67,26,9.57
22,22,Vangaindrano,MG,2022-02-08 20:43:47,-23.3500,47.6000,76.41,95,100,11.27
28,28,Isangel,VU,2022-02-08 20:43:49,-19.5500,169.2667,79.72,90,100,22.53
32,32,Atuona,PF,2022-02-08 20:43:50,-9.8000,-139.0333,78.42,78,20,16.78
37,37,Santa Fe,AR,2022-02-08 20:39:13,-31.6333,-60.7000,88.02,30,0,8.01
38,38,Road Town,VG,2022-02-08 20:42:21,18.4167,-64.6167,80.69,61,20,11.50

In [15]:
preferred_cities_df.count()

City_ID       149
City          149
Country       149
Date          149
Lat           149
Lng           149
Max Temp      149
Humidity      149
Cloudiness    149
Wind Speed    149
dtype: int64

In [16]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, amd coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
2        Rikitea      PF     78.78 -23.1203 -134.9692
6          Kapaa      US     78.12  22.0752 -159.3190
9      Mahebourg      MU     75.49 -20.4081   57.7000
20         Vaini      TO     78.96 -21.2000 -175.2000
21  Bull Savanna      JM     78.48  17.8868  -77.5902
22  Vangaindrano      MG     76.41 -23.3500   47.6000
28       Isangel      VU     79.72 -19.5500  169.2667
32        Atuona      PF     78.42  -9.8000 -139.0333
37      Santa Fe      AR     88.02 -31.6333  -60.7000
38     Road Town      VG     80.69  18.4167  -64.6167

In [17]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000, 
    "type": "lodging", 
    "key": g_key
}

In [19]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found...skipping")

Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping

In [20]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Rikitea,PF,78.78,-23.1203,-134.9692,People ThankYou
6,Kapaa,US,78.12,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
9,Mahebourg,MU,75.49,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
20,Vaini,TO,78.96,-21.2000,-175.2000,Keleti Beach Resort
21,Bull Savanna,JM,78.48,17.8868,-77.5902,Big Red's
22,Vangaindrano,MG,76.41,-23.3500,47.6000,Hotel Fanilo
28,Isangel,VU,79.72,-19.5500,169.2667,Tanna Lodge
32,Atuona,PF,78.42,-9.8000,-139.0333,Villa Enata
37,Santa Fe,AR,88.02,-31.6333,-60.7000,Conquistador Hotel
38,Road Town,VG,80.69,18.4167,-64.6167,"ZINGARA 76ft Catamaran, full crew-all included"

In [22]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, 
                                max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp}</dd>
</dl>
"""

In [25]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [26]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))